#hiddenVideo {
    display: none;
}

#result {
    font-family: monospace;
    font-size: .5rem;
    line-height: .9;
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}